Checks: '-*,modernize-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-non-private-member-variables-in-classes'
HeaderFilterRegex: '^[^/]*\.(h|cc|hpp|cpp)$'
#'^(?!.*gtest).*$'
